pandas~=1.0.5
dash~=1.13.4
dash_bootstrap_components~=0.10.3
plotly~=4.4.1
matplotlib~=3.2.1
tqdm~=4.46.0
scikit-image~=0.15.0
numpy~=1.18.3
opencv-python~=4.2.0.34
scikit-learn~=0.21.3
pycocotools~=2.0
pandas_profiling~=2.8.0
coco_assistant~=0.3.1
python-dotenv~=0.12.0
sklearn~=0.0
azure-storage-blob~=12.3.2
